
<!DOCTYPE html>
<html lang="{{ site.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ site.name }}</title>
  
  <meta name="title" content="{{ site.name }}" />
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.tagline }}" />
  <meta name="keywords" content="{{ site.keywords }}" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/fontawesome-free/css/all.min.css">
    
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/adminlte.min.css" media="screen" />


<body class="hold-transition layout-top-nav">
<div class="wrapper">

  
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="{{ site.baseurl }}/" class="navbar-brand">
        <span class="brand-text font-weight-light">{{ site.name }}</span>
      </a>
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{ site.baseurl }}/utils/" class="nav-link">Utils</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/lab/" class="nav-link">Lab</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

  
  <div class="content-wrapper">
    
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    

    
    <div class="content">

        {{ content }}

    </div>
    
  </div>
  

  
  <footer class="main-footer">
    
    <div class="float-right d-none d-sm-inline">
      
    </div>
    
    
  </footer>
</div>


<script src="{{ site.baseurl }}/assets/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/bootstrap.bundle.min.js"></script>

<script src="{{ site.baseurl }}/assets/adminlte.min.js?v=3.2.0"></script>

</body>
</html>
